.footer {
  color: white;
  padding: 5rem 2.5rem;
}

.footer-section {
  flex: 1;
  min-width: 300px; /* Ensures that each section takes at least 300px */
  box-sizing: border-box; /* Includes padding and border in the element's total width and height */
}

.footer-section h2 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.footer-section ul {
  list-style: none;
  padding: 0;
}

.footer-section ul li {
  margin-bottom: 0.5rem;
}

.footer-section ul li a {
  color: white;
  text-decoration: none;
}

.contact-form form {
  display: flex;
  flex-direction: column;
}

.contact-input {
  margin-bottom: 1rem;
  padding: 0.5rem;
}

.btn {
  background-color: #007bff;
  color: white;
  padding: 0.5rem 1rem;
  border: none;
  cursor: pointer;
}

.btn:hover {
  background-color: #0056b3;
}

.footer-bottom {
  margin-top: 2rem;
}
