/* Main Styles */
.cf {
    background-color: #333333;
    height: calc(100vh - 80px); /* Adjusted height considering the navbar height */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.content-1,
.content-2,
.resume-button {
    text-align: center; /* Center align the content and buttons */
}

.content-1 {
    font-family: "Kanit", sans-serif;
    font-weight: 800;
    font-style: normal;
    font-size: 5vw; /* Responsive font size */
    color: white;
    margin-bottom: 20px;
}

.content-2 {
    font-family: "Kanit", sans-serif;
    font-weight: 800;
    font-style: normal;
    font-size: 2vw; /* Responsive font size */
    color: white;
    margin-bottom: 40px;
}

.content-1,
.content-2 {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

.content-1.visible,
.content-2.visible {
    opacity: 1;
    transform: translateY(0);
}

.resume-button {
    font-family: "Kanit", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 1.5vw; /* Responsive font size */
    display: flex;
    justify-content: center;
     /* Push the buttons to the bottom of the container */
}

.crbtn {
    margin-right: 8px;
    background-color: white;
    color: #333333;
}

.crbtn:hover{
    background-color: #007BFF;
    color: white;
    border: 2px solid white;
}

.crbtn2:hover{
    background-color: white;
    color: #333333;
    border: 2px solid grey;
}

@media (max-width: 768px) {
    .content-1 {
        font-size: 8vw; /* Adjust font size for smaller screens */
    }

    .content-2 {
        font-size: 3vw; /* Adjust font size for smaller screens */
    }

    .resume-button {
        font-size: 3vw; /* Adjust font size for smaller screens */
    }
}
